.breadcrumb-item.active {
    color: #868686!important;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #868686!important;
}

dl.feature{
    padding: 1px;
    margin: 5px 0px 5px 0px;
    border-bottom: 1px dotted #7d7d7d;
}
dl.dlist-inline dd{
    margin-bottom: 0rem;
}

.card-product {
    border: 1px solid #E4E4E4;
    padding: 7px 15px 7px 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    background: #ffffff;
    -webkit-transition: 0.2s -webkit-box-shadow;
    transition: 0.2s -webkit-box-shadow;
    transition: 0.2s box-shadow;
    transition: 0.2s box-shadow, 0.2s -webkit-box-shadow;
}
.card-product:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(20,19,17,0.14);
    box-shadow: 0px 2px 8px 0px rgba(20,19,17,0.14);
    z-index: 9;
}

#category_filter{
    background: #f4f4f4;
    border: 1px solid #e4e4e4;
    padding: 20px 15px 30px;
    margin-bottom: 25px;
}

.prod__grid__stars span {
    display: inline-block;
    margin-right: 4.6px;
    width: 12px;
    height: 12px;
    background-image: url(/assets/img/ext/star.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.reviews {
    color: darkgrey;
    font-size: 12px;
    display: inline;
}

h4.filter_title{
    font-size: 1rem;
    font-weight: 700;
}
h1 {
    font-size: 2rem;
}
h4{
    font-size: 1.3rem;
    font-weight: 700;
}

fieldset label{
    margin-left: 1.2rem;
}

div.card__delivery{
    padding-top: 0.5rem;
/*    background: ivory;
    padding: 0.4rem;*/
}
div.card__deliverycost span{
    color: #4d9b0e;
    margin: 5px 0px 5px 0px;
    font-size: 1.1rem;
    border-bottom: 1px dotted #4d9b0e;
}
div.card__deliverycost span span{
    font-weight: bold;
}
button.by__button{
    background-color: #4d9b0e;
    border-color: #4d9b0e;
}
body{
    background-color: #ffffff;/*// #fffff1;*/
    font-family: Open Sans,Arial,Helvetica,sans-serif;
}

div.prod-price .price {
    font-weight: 700;
    font-size: 2rem;
    color: #191919;
    padding: 5px;
    white-space: nowrap;
    display: block;
}

.price-old{
    color: #666;
    font-size: 1.2rem;
    padding: 5px;
    font-style: italic;
}

div.mse2_pagination{
    margin-bottom: 1rem;
}
div.main__conteiner{
  /*  background-color: #fffff1;
    border-right: solid 1px #e7e0d1;
    border-left: solid 1px #e7e0d1;*/
}

/*megamenu*/

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
}

.navbar .dropdown-menu {
    border:none;
/*    background-color:#0060c8!important;*/
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top:0px;
        padding-bottom:0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding:.5rem .5rem;
        margin:0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /*  height of nav-item  */
        top:45px;

        display:block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;

    }




    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }

}

.menu__full{
    height: 100vh;
}

div.dropdown-menu li.nav-item{
    padding: 0px 0px 0px 0px;
}
div.dropdown-menu li.nav-item a {
    padding: 0px 2px 0px 2px;
}

.modal-body {
   /* max-height:calc(100vh - 200px);*/
    overflow-y:auto
}

ul.nav {
    border-left: white 1px solid;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 20px;
}
.submenu-header{
    border-bottom: solid 2px #fdf431;
}

.prod-price{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

div.art{
    font-size: 0.8rem;
    position: relative;
    margin-top: -20px;
    float: right;
}

#mse2_sort a.active, #mse2_tpl a.active {
    color: #0ca5d3 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.logo_head{
    height: 28px;
    width:100%;
    background: url(/assets/img/ext/mslogo_min.svg) no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.badge-discount{
    padding:0.4rem;
    background-color: #da4242;
    color: white;
    font-weight: bolder;
    border-radius: .25rem;
}

.mainmenu div span {
    text-align: center;
}

@media (max-width: 767px) {
    .mainmenu div{
        border: solid 1px lightgrey;
    }
}